<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>경영전략컨퍼런스</title>

  <!-- favicon -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!-- reset-css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />

  <!-- local css -->
  <link rel="stylesheet" href="/main.css" />

  <!-- axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- google icons-->
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />

  <!-- vimeo -->
  <script src="https://player.vimeo.com/api/player.js"></script>
</head>
<body>
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>
</html>