<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>경영전략컨퍼런스</title>

  <!-- favicon -->
  <link rel="icon" href="/favicon.ico" />

  <!-- OPEN GRAPH -->
  <meta property="og:title" content="2022 경영전략 컨퍼런스" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://ec2-3-38-115-196.ap-northeast-2.compute.amazonaws.com/" />
  <meta property="og:image" content="/share.png" />
  <!-- reset-css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />

  <!-- local css -->
  <link rel="stylesheet" href="/main.css" />

  <!-- axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- vimeo -->
  <script src="https://player.vimeo.com/api/player.js"></script>

  <!-- moment -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
</head>
<body>
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>
</html>