{% extends 'header.html' %}
{% block content %}
<script defer src="/live.js"></script>
<script defer src="/file.js"></script>

<section class="live">
    <div class="live__player">
        <div id="player"></div>
    </div>
    <div class="inner">
        <div class="live__title">
            <div class="session-number">
              LIVE
            </div>
            <div class="session-title pc">
              2022 경영전략 컨퍼런스 : 브랜딩과 전략수립
            </div>
            <div class="session-title mo">
              2022 경영전략 컨퍼런스 : <br />
              브랜딩과 전략수립
            </div>
            <!-- <div class="session-teacher">
              <span class="teacher_name">
                조세원
              </span>
              <span class="teacher_position">
                뤼이드 CBSO
              </span>
            </div> -->
        </div>
        <div class="live__fileLists">
          <div class="fileLists__title">
            자료 다운로드
          </div>
          <div class="files">
            <div class="file">
              <div class="pdf">
                PDF
              </div>
              <div class="file_name">
                 산업별 OKR 제목 샘플
              </div>
            </div>
            <div class="file">
              <div class="pdf">
                PDF
              </div>
              <div class="file_name">
                 경영계기판 템플릿
              </div>
            </div>
            <div class="file conf">
              <div class="pdf">
                PDF
              </div>
              <div class="file_name">
                 컨퍼런스 요약 자료집
              </div>
            </div>
            <div class="file magazine">
              <div class="pdf">
                PDF
              </div>
              <div class="file_name">
                 가인지 경영전략 매거진
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="live__tab">
              <div class="tab">
                2022 경영전략 컨퍼런스
              </div>
              <div class="caution">
                * 각 세션이 종료되면 다음 세션을 클릭해서 이동해주십시오.
              </div>
        </div>
        <div class="live__playlist">
            <div class="playlist active">
                <input type="hidden" name="live_url" value="5Pr3BTNIVjU">
                <input type="hidden" name="session_number" value="1">
                <input type="hidden" name="session_title" value="고객 경험을 높여주는 브랜드 성장 전략">
                <input type="hidden" name="session_teacher" value="조세원">
                <input type="hidden" name="teacher_position" value="뤼이드 CBSO">
                <div class="thumbnail">
                    <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
                    <img src="https://i.vimeocdn.com/video/1258913725-9bb98ec0afb9e7a373754047fde8503f3211b64935ffb8562f7f391cc4b96c57-d?mw=700&mh=395" alt="테스트" />
                </div>
                <div class="detail">
                    <div class="session-number">
                      Session 1
                    </div>
                    <div class="session-title">
                        고객 경험을 높여주는<br/>
                        브랜드 성장 전략
                    </div>
                    <div class="session-teacher">
                        <span>조세원</span>
                        <span class="teacher_position">뤼이드 CBSO</span>
                    </div>
                </div>
            </div>
            <div class="playlist">
              <input type="hidden" name="live_url" value="JbE78RqjGVM">
              <input type="hidden" name="session_number" value="2">
              <input type="hidden" name="session_title" value="고객 중심의 혁신을 일으키는 데이터 마케팅 전략">
              <input type="hidden" name="session_teacher" value="김윤경">
              <input type="hidden" name="teacher_position" value="어센트 코리아 마케팅 본부장">
                <div class="thumbnail">
                    <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
                    <img src="https://i.vimeocdn.com/video/1258913725-9bb98ec0afb9e7a373754047fde8503f3211b64935ffb8562f7f391cc4b96c57-d?mw=700&mh=395" alt="테스트" />
                </div>
                <div class="detail">
                    <div class="session-number">
                        Session 2
                    </div>
                    <div class="session-title">
                        고객 중심의 혁신을 일으키는 <br />
                        데이터 마케팅 전략
                    </div>
                    <div class="session-teacher">
                        <span>김윤경</span>
                        <span class="teacher_position">어센트 코리아 마케팅 본부장</span>
                    </div>
                  </div>
            </div>
            <div class="playlist">
                <div class="thumbnail">
                    <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
                    <img src="https://i.vimeocdn.com/video/1258913725-9bb98ec0afb9e7a373754047fde8503f3211b64935ffb8562f7f391cc4b96c57-d?mw=700&mh=395" alt="테스트" />
                </div>
                <div class="detail">
                    <div class="session-number">
                      Session 3
                    </div>
                    <div class="session-title">
                        디지털 시대, 잘 팔리는<br />
                        온라인 마케팅 노하우
                    </div>
                    <div class="session-teacher">
                        <span>조세원</span>
                        <span class="teacher_position">뤼이드 CBSO</span>
                    </div>
                  </div>
            </div>
            <div class="playlist">
                <div class="thumbnail">
                    <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
                    <img src="https://i.vimeocdn.com/video/1258913725-9bb98ec0afb9e7a373754047fde8503f3211b64935ffb8562f7f391cc4b96c57-d?mw=700&mh=395" alt="테스트" />
                </div>
                <div class="detail">
                    <div class="session-number">
                      Session 4
                    </div>
                    <div class="session-title">
                        DT 기반의 성과내는<br />
                        조직문화 구축하는 방법
                    </div>
                    <div class="session-teacher">
                        <span>조세원</span>
                        <span class="teacher_position">뤼이드 CBSO</span>
                    </div>
                  </div>
            </div>
            <div class="playlist">
                <div class="thumbnail">
                    <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
                    <img src="https://i.vimeocdn.com/video/1258913725-9bb98ec0afb9e7a373754047fde8503f3211b64935ffb8562f7f391cc4b96c57-d?mw=700&mh=395" alt="테스트" />
                </div>
                <div class="detail">
                    <div class="session-number">
                      Session 5
                    </div>
                    <div class="session-title">
                        수익을 일으키는 <br />
                        고객 중심의 상품 혁신전략
                    </div>
                    <div class="session-teacher">
                        <span>조세원</span>
                        <span class="teacher_position">뤼이드 CBSO</span>
                    </div>
                  </div>
            </div>
            <div class="playlist">
                <div class="thumbnail">
                    <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
                    <img src="https://i.vimeocdn.com/video/1258913725-9bb98ec0afb9e7a373754047fde8503f3211b64935ffb8562f7f391cc4b96c57-d?mw=700&mh=395" alt="테스트" />
                </div>
                <div class="detail">
                    <div class="session-number">
                      Session 6
                    </div>
                    <div class="session-title">
                        애자일과 OKR로 <br />
                        경영계획 목표관리 하는 방법
                    </div>
                    <div class="session-teacher">
                        <span>조세원</span>
                        <span class="teacher_position">뤼이드 CBSO</span>
                    </div>
                  </div>
            </div> -->
        </div>
    </div>
</section>

<section class="error magazine" style="display:none;">
  <div class="inner">
    <div class="error__message">
      <div class="error__title">
        11월 17일 OPEN!
      </div>
      <div class="error__info">
        가인지 매거진은 11월 17일부터<br />
        다운로드 받을 수 있습니다.
      </div>
      <div class="error__close">확인</div>
    </div>
  </div>
</section>

<section class="error conf" style="display:none;">
  <div class="inner">
    <div class="error__message">
      <div class="error__title">
        12월 04일 OPEN!
      </div>
      <div class="error__info">
        컨퍼런스 요약집은 12월 4일부터<br />
        다운로드 받을 수 있습니다.
      </div>
      <div class="error__close">확인</div>
    </div>
  </div>
</section>
{% endblock %}
