{% extends 'default.html' %}
{% block content %}
<script defer src="/enter.js"></script>

<section class="login">
  <div class="inner">
    <div class="logo">
      <a href="/">
        <img src="/logo.png" alt="" class="logo__image">
      </a>
    </div>
    <div class="code-group">
      <div class="code-textbox">
        <input type="text" id="enter_code" class="textbox" placeholder="입장 코드를 입력하여 주십시오" />
      </div>
      <div class="code-confirm">
        <input type="button" id="enter_btn" class="btn" value="입장하기" />
      </div>
    </div>
  </div>
</section>


{% endblock %}