{% extends 'default.html' %}
{% block content %}
<script defer src="/enter.js"></script>

<section class="login">
  <video muted autoplay loop>
    <source src="/main_video.mp4" type="video/mp4" />
  </video>
  <div class="inner">
    <div class="login__img">
      <img src="/login_img.png" alt="경영전략컨퍼런스" />
    </div>
    <div class="code-group">
      <div class="code-textbox">
        <input type="text" id="enter_code" class="textbox" placeholder="입장 코드를 입력하여 주십시오" />
      </div>
      <div class="code-confirm">
        <input type="button" id="enter_btn" class="btn" value="입장하기" />
      </div>
    </div>
  </div>
  <div class="error" style="display:none;">
    <div class="inner">
      <div class="error__message">
        <div class="error__title">
          입장코드가 다릅니다.
        </div>
        <div class="error__info">
          입장코드를 분실하신 경우 연락주십시오. <br />(010-4599-5464)
        </div>
        <div class="error__close"></div>
      </div>
    </div>
  </div>
</section>


{% endblock %}