{% extends 'header.html' %}
{% block content %}
<script defer src="/vimeo.js"></script>
<script defer src="/watch.js"></script>
<script defer src="/common.js"></script>
<script defer src="/file.js"></script>

<section class="watch">
  <div class="watch__live">
    <div class="live-link"></div>
  </div>
  <div class="watch__player">
    <div id="player"></div>
  </div>
  <div class="watch__title">
    <div class="lesson_number">
      Lesson 1
    </div>
    <div class="lesson_title">
      전체 개요
    </div>
    <div class="lesson_teacher">
      <span class="teacher_name">
        김경민
      </span>
      <span class="teacher_position">
        가인지컨설팅 대표
      </span>
    </div>
  </div>
  <div class="watch__playlist">
    <div class="play_tabs">
      <div class="tab active" data-play="V-model">
        V모델 영상
      </div>
      <div class="tab" data-play="conf">
        2022 경영전략 컨퍼런스
      </div>
    </div>
    <div class="play_lists V-model">
      <div class="play_list active" data-id="616891145">
        <input type="hidden" name="lesson_number" id="lesson_number" value="1" />
        <input type="hidden" name="lesson_title" id="lesson_title" value="전체 개요" />
        <div class="list_thumbnail">
          <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
          <img src="https://i.vimeocdn.com/video/1283759372-ab499b0d38c36acc0881ca1300decef0d6bc32cb350e81a88_100x75?r=pad" alt="이미지" />
        </div>
        <div class="list_detail">
          <div class="lesson_number">
            Lesson 1
          </div>
          <div class="lesson_title">
            전체 개요
          </div>
          <div class="lesson_teacher">
            <span class="teacher_name">김경민</span>
            <span class="teacher_position">가인지컨설팅그룹 대표</span>
          </div>
        </div>
      </div>
      <div class="play_list" data-id="638512417">
        <input type="hidden" name="lesson_number" id="lesson_number" value="2" />
        <input type="hidden" name="lesson_title" id="lesson_title" value="1단계 ABC 피드백 경영계획 수립" />
        <div class="list_thumbnail">
          <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
          <img src="https://i.vimeocdn.com/video/1283759761-729baa509628793208624c811982568ac55eba7da6658d9f0_100x75?r=pad" alt="1단계" />
        </div>
        <div class="list_detail">
          <div class="lesson_number">
            Lesson 2
          </div>
          <div class="lesson_title">
            1단계<br />
            ABC 피드백 경영계획 수립
          </div>
          <div class="lesson_teacher">
            <span class="teacher_name">김경민</span>
            <span class="teacher_position">가인지컨설팅그룹 대표</span>
          </div>
        </div>
      </div>
      <div class="play_list" data-id="638512530">
        <input type="hidden" name="lesson_number" id="lesson_number" value="3" />
        <input type="hidden" name="lesson_title" id="lesson_title" value="2단계 중기 전략맵 경영계획 수립" />
        <div class="list_thumbnail">
          <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
          <img src="https://i.vimeocdn.com/video/1283760052-51531de369c1337d10f336448eb963a5741cdfc0c06c45d63_100x75?r=pad" alt="2단계" />
        </div>
        <div class="list_detail">
          <div class="lesson_number">
            Lesson 3
          </div>
          <div class="lesson_title">
            2단계<br />
            중기 전략맵 경영계획 수립
          </div>
          <div class="lesson_teacher">
            <span class="teacher_name">김경민</span>
            <span class="teacher_position">가인지컨설팅그룹 대표</span>
          </div>
        </div>
      </div>
      <div class="play_list" data-id="638512657">
        <input type="hidden" name="lesson_number" id="lesson_number" value="4" />
        <input type="hidden" name="lesson_title" id="lesson_title" value="3단계 경영계획 캔버스" />
        <div class="list_thumbnail">
          <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
          <img src="https://i.vimeocdn.com/video/1283760407-66adb618a3257b34abcd1b36861e05a9395cb6cf5f758fd3a_100x75?r=pad" alt="3단계" />
        </div>
        <div class="list_detail">
          <div class="lesson_number">
            Lesson 4
          </div>
          <div class="lesson_title">
            3단계<br />
            경영계획 캔버스
          </div>
          <div class="lesson_teacher">
            <span class="teacher_name">김경민</span>
            <span class="teacher_position">가인지컨설팅그룹 대표</span>
          </div>
        </div>
      </div>
      <div class="play_list" data-id="638519452">
        <input type="hidden" name="lesson_number" id="lesson_number" value="5" />
        <input type="hidden" name="lesson_title" id="lesson_title" value="TIP과 주의사항" />
        <div class="list_thumbnail">
          <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
          <img src="https://i.vimeocdn.com/video/1283781269-14de89ab2c85e65aaff7f7477bdfad5853f6cff97753b2a9e_100x75?r=pad" alt="TIP과 주의사항" />
        </div>
        <div class="list_detail">
          <div class="lesson_number">
            Lesson 5
          </div>
          <div class="lesson_title">
            TIP과 주의사항
          </div>
          <div class="lesson_teacher">
            <span class="teacher_name">김경민</span>
            <span class="teacher_position">가인지컨설팅그룹 대표</span>
          </div>
        </div>
      </div>
    </div>
    <div class="play_lists conf">
      <div class="play_list">
        <div class="list_thumbnail">
          <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
          <img src="https://i.vimeocdn.com/video/1258913725-9bb98ec0afb9e7a373754047fde8503f3211b64935ffb8562f7f391cc4b96c57-d?mw=700&mh=395" alt="테스트" />
        </div>
        <div class="list_detail">
          <div class="lesson_number">
            Session 1
          </div>
          <div class="lesson_title">
            고객 경험을 높여주는<br/>
            브랜드 성장 전략
          </div>
          <div class="lesson_teacher">
            <span>조세원</span>
            <span class="teacher_position">뤼이드 CBSO</span>
          </div>
        </div>
      </div>
      <div class="play_list">
        <div class="list_thumbnail">
          <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
          <img src="https://i.vimeocdn.com/video/1258913725-9bb98ec0afb9e7a373754047fde8503f3211b64935ffb8562f7f391cc4b96c57-d?mw=700&mh=395" alt="테스트" />
        </div>
        <div class="list_detail">
          <div class="lesson_number">
            Session 2
          </div>
          <div class="lesson_title">
            고객 중심의 혁신을 일으키는<br/>
            데이터 마케팅 전략
          </div>
          <div class="lesson_teacher">
            <span>김윤경</span>
            <span class="teacher_position">어센트 코리아 마케팅 본부장</span>
          </div>
        </div>
      </div>
      <div class="play_list">
        <div class="list_thumbnail">
          <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
          <img src="https://i.vimeocdn.com/video/1258913725-9bb98ec0afb9e7a373754047fde8503f3211b64935ffb8562f7f391cc4b96c57-d?mw=700&mh=395" alt="테스트" />
        </div>
        <div class="list_detail">
          <div class="lesson_number">
            Session 3
          </div>
          <div class="lesson_title">
            디지털 시대, 잘 팔리는<br/>
            온라인 마케팅 노하우
          </div>
          <div class="lesson_teacher">
            <span>구자영</span>
            <span class="teacher_position">잘 팔리는 브랜드 법칙 저자</span>
          </div>
        </div>
      </div>
      <div class="play_list">
        <div class="list_thumbnail">
          <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
          <img src="https://i.vimeocdn.com/video/1258913725-9bb98ec0afb9e7a373754047fde8503f3211b64935ffb8562f7f391cc4b96c57-d?mw=700&mh=395" alt="테스트" />
        </div>
        <div class="list_detail">
          <div class="lesson_number">
            Session 4
          </div>
          <div class="lesson_title">
            DT 기반의 성과내는<br/>
            조직문화 구축하는 방법
          </div>
          <div class="lesson_teacher">
            <span>김지현</span>
            <span class="teacher_position">SK mySUNI 부사장</span>
          </div>
        </div>
      </div>
      <div class="play_list">
        <div class="list_thumbnail">
          <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
          <img src="https://i.vimeocdn.com/video/1258913725-9bb98ec0afb9e7a373754047fde8503f3211b64935ffb8562f7f391cc4b96c57-d?mw=700&mh=395" alt="테스트" />
        </div>
        <div class="list_detail">
          <div class="lesson_number">
            Session 5
          </div>
          <div class="lesson_title">
            수익을 일으키는<br/>
            고객 중심의 상품 혁신전략
          </div>
          <div class="lesson_teacher">
            <span>송인숙</span>
            <span class="teacher_position">구글 글로벌 전무</span>
          </div>
        </div>
      </div>
      <div class="play_list">
        <div class="list_thumbnail">
          <img src="/play_img.svg" alt="재생 버튼" class="play_img"/>
          <img src="https://i.vimeocdn.com/video/1258913725-9bb98ec0afb9e7a373754047fde8503f3211b64935ffb8562f7f391cc4b96c57-d?mw=700&mh=395" alt="테스트" />
        </div>
        <div class="list_detail">
          <div class="lesson_number">
            Session 6
          </div>
          <div class="lesson_title">
            애자일과 OKR로<br/>
            경영계획 목표관리 하는 방법
          </div>
          <div class="lesson_teacher">
            <span>김경민</span>
            <span class="teacher_position">가인지컨설팅그룹 대표</span>
          </div>
        </div>
      </div>
    </div>
    <div class="play_lists countdown">
      <div class="coming_soon">
        COMING SOON
      </div>
      <div class="open_time">
        2021년 12월 3일 금요일 PM 7
      </div>
      <div class="time"></div>
    </div>
  </div>
</div>
  <div class="watch__contents">
    <div class="contents_title">
      자료 다운로드
    </div>
    <div class="contents_files">
      <a href="/산업별 OKR 제목 샘플.pdf" download>
        <div class="file">
          <span class="pdf">PDF</span>
          산업별 OKR 제목 샘플
        </div>
      </a>

      <a href="/경영계획판 템플릿.pdf" download>
      <div class="file no-margin">
        <span class="pdf">PDF</span>
        경영계획판 템플릿
      </div>
      </a>

      <div class="file conf">
        <span class="pdf">PDF</span>
        컨퍼런스 요약 자료집
      </div>
      <div class="file magazine no-margin">
        <span class="pdf">PDF</span>
        가인지 경영전략 매거진
      </div>
    </div>
  </div>
</section>

<section class="error open" style="display:none">
  <div class="inner">
    <div class="error__message">
      <div class="error__title">
        2021년 12월 3일 OPEN!
      </div>
      <div class="error__info">
        2022년 경영전략 컨퍼런스는 <br />
        온라인 생중계로 진행되므로 당일에 공개됩니다.
      </div>
      <div class="error__close"></div>
    </div>
  </div>
</section>

<section class="error magazine" style="display:none;">
  <div class="inner">
    <div class="error__message">
      <div class="error__title">
        11월 17일 OPEN!
      </div>
      <div class="error__info">
        가인지 매거진은 11월 17일부터<br />
        다운로드 받을 수 있습니다.
      </div>
      <div class="error__close"></div>
    </div>
  </div>
</section>

<section class="error conf" style="display:none;">
  <div class="inner">
    <div class="error__message">
      <div class="error__title">
        12월 04일 OPEN!
      </div>
      <div class="error__info">
        컨퍼런스 요약집은 12월 4일부터<br />
        다운로드 받을 수 있습니다.
      </div>
      <div class="error__close"></div>
    </div>
  </div>
</section>
{% endblock %}