@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

html
{
    font-size:10px;
    font-family:'Spoqa Han Sans Neo';
}
.inner
{
    width:100%;
    height:100%;
    position:relative;
}
a
{
    color:#fff;
    text-decoration: none;
}

/* LOGIN */
.login
{
    display:flex;
    justify-content: center;
    align-items: center;
}
.login .inner
{
    width:100%;
    max-width:1100px;
    text-align:center;
}
.login__img
{
    margin-top:50px;
    background-color:#000;
    border-radius:12px;
}
.login__form
{
    display:flex;
    justify-content: center;
    margin-top:20px;
}
.login__form .form table tr
{
    margin-bottom:10px;
    height:50px;
    font-size:16px;
}
.login__form .form table tr th
{
    width:100px;
}
.login__form .form table tr td .textbox
{
    padding:5px;
    box-sizing: border-box;
    border-radius:5px;
    border:1px solid #1f1f1f;
}
.login__form .form .login_btn
{
    background-color:#00F5FF;
    padding:5px;
    border-radius:10px;
    font-size:16px;
    font-weight:700;
    cursor:pointer;
}

/* HEADER */
header
{
    width:100%;
    height:80px;
    background-color:#1f1f1f;
    position:absolute;
    top:0;
    z-index: 9;
}
header .inner
{
    max-width:1100px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    position: absolute;
    left:0;
    right:0;
    margin:auto;
}
header .inner .header__logo
{
    width:20%;
    height:100%;
    display: flex;
    align-items: center;
}
header .inner .header__logo .logo
{
    width:188px;
    height:28px;
    background:url("/logo.png") center/contain no-repeat;
}
header .inner .header__menu
{
    width:90%;
    height:100%;
    display:flex;
    align-items: center;
    position:relative;
}
header .inner .header__menu .menus
{
    display:flex;
    height:100%;
}
header .inner .header__menu .menus .menu
{
    width:120px;
    height:100%;
    padding-left:20px;
    color:#fff;
    font-size:24px;
    font-weight:700;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
header .inner .header__menu .menus .menu .menu__name
{
    height:28px;
}
header .inner .header__menu .menus .menu .menu__contents
{
    width:140px;
    position:absolute;
    top:80px;
    left:0;
    height:100px;
    background-color:#1f1f1f;
    text-align:center;
    font-weight:400;
    padding-top:10px;
    box-sizing: border-box;
    display:none;
    font-size:16px;
}
header .inner .header__menu .menus .menu:hover .menu__contents
{
    display:block;
}
header .inner .header__menu .menus .menu .menu__contents > ul > a >li
{
    margin-bottom:10px;
    cursor:pointer;
}

/* REGCODE */
.regcode
{

}
.regcode .reg__contents
{
    max-width:1100px;
    height:1200px;
    position:absolute;
    left:0;
    right:0;
    top:80px;
    margin:auto;
    background-color: orange;
    padding:20px;
    box-sizing: border-box;
}
.regcode .reg__contents .reg__title
{
    font-size:26px;
    font-weight:700;
    color:#1f1f1f;
    margin-bottom:30px;
}
.regcode .reg__contents .reg__table
{

}
.regcode .reg__contents .reg__table tr
{
    display:flex;
    justify-content: center;
    align-items: center;
}
.regcode .reg__contents .reg__table tr th
{
    width:100px;
    font-size:20px;
}
.regcode .reg__contents .reg__table tr td
{
    display:flex;
    justify-content: center;
    align-items: center;
}
.regcode .reg__contents .reg__table tr td > .textbox
{
    padding:5px;
    border-radius:5px;
    border:1px solid #1f1f1f;
    margin-right:15px;
}
.regcode .reg__contents .reg__table tr td > .textbox:focus
{
    border:1px solid #1f1f1f;
}