html
{
    font-size:10px;
}
.inner
{
    position:relative;
}

/* LOGIN */
.login
{
    display:flex;
    justify-content: center;
    align-items: center;
}
.login .inner
{
    width:100%;
    max-width:1100px;
    text-align:center;
}
.login__img
{
    margin-top:50px;
    background-color:#000;
    border-radius:12px;
}
.login__form
{
    display:flex;
    justify-content: center;
    margin-top:20px;
}