@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

/* COMMON */
html{
  font-size:10px;
  font-family:'Spoqa Han Sans Neo';
}
body{

}
.inner{
  width:1100px;
  position:relative;
}
img
{
  width:100%;
  height:100%;
}
a,a:link
{
  text-decoration: none;
  color:#1f1f1f;
}

/* HEADER */
header
{
  width:100%;
  height:80px;
  background-color:#1F1F1F;
}
.header-container
{
  height:100%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding:0 30px;
  max-width:1100px;
  margin:0 auto;
}
.header__left
{
  width:30%;
}

.header__left .header__logo
{
  
}
.header__left .header__logo .logo
{
  width:188px;
  height:28px;
  background:url("img/logo.png") center/contain no-repeat;
  
}

/* LOGIN */
.login{
  position:relative;
  width:100%;
  min-height:100vh;
  display:flex;
}
.login video
{
  width:100%;
  height:100%;
  object-fit: fill;
  position:fixed;
  top:0;
}
.login .inner{
  width:100%;
  height:auto;
  max-width:922px;
  margin:auto;
  box-sizing: border-box;
}
.login .inner .login__img
{
  text-align:center;
}
.login .inner img
{
  max-height:407px;
}
.login .code-group{
  margin-top:75px;
}
.login .code-group .code-textbox
{
  width:510px;
  height:62px;
  left:0;
  right:0;
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom:45px;

}
.login .code-group .code-textbox .textbox{
  width:510px;
  padding:16px;
  border-radius:49px;
  text-align:center;
  font-size:25px;
  box-shadow: 0px 0px 15px #00000080;
  box-sizing:border-box;
  border:1px solid #1f1f1f;
}
.login .code-group .code-textbox .textbox:focus
{
  outline:none;
}
.login .code-group .code-confirm
{
  display:flex;
  justify-content: center;
  align-items: center;
}
.login .code-group .code-confirm .btn
{
  /* width:252px; */
  /* height:62px; */
  background:rgba(0, 0, 0, 0);
  color:#fff;
  padding:16px 49px;
  border:3px solid #fff;
  border-radius:49px;
  cursor:pointer;
  font-size:24px;
}
.login .code-group .code-confirm .btn:hover
{
  background-color:#00F5FF;
  border:3px solid #00F5FF;
  color: #1f1f1f;
}

/* ERROR */
.error
{
  position:fixed;
  min-width:100%;
  min-height:100%;
  top:0;
  left:0;
  background-color:#00000080;
  z-index:9;
}
.error .inner
{
  width:100%;
  max-width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  position:absolute;
}
.error__message
{
  width:600px;
  height:352px;
  padding:62px 50px 46px;
  background-color:#fff;
  box-shadow: 0px 0px 70px #00000034;
  box-sizing: border-box;
  /* margin-top:364px; */
  border-radius:15px;
  text-align:center;
}
.error__message .error__title
{
  font-size:40px;
  height:52px;
  color:#1f1f1f;
  font-weight:700;
  margin-bottom:26px;
}
.error__message .error__info
{
  font-size:24px;
  height:58px;
  color:#566371;
  margin-bottom:36px;
  line-height:32px;
}
.error__message .error__close
{
  height:72px;
  background:url("/error_close.png") center no-repeat;
  cursor:pointer;
}
/* WATCH */
.watch
{
  width:100%;
  position:relative;
  margin:0 auto;
  margin-top:40px;
  max-width:1060px;
}
.watch__live
{
  margin:70px 0;
  height:180px;
}
.watch__live .live-link
{
  background: url("/live_link_pc.png") center/contain no-repeat;
  height:100%;
  cursor:pointer;
}
.watch .watch__player
{
  display:block;
  width:100%;
  max-width:1060px;
  max-height:596px;
}
#player
{
    position:relative;
    padding-bottom:56.25%;
    overflow:hidden;
}
  #player iframe
  {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
.watch .watch__player #player iframe
{
  border-radius:15px;
}
.watch .watch__title
{
  margin-top:30px;
  color:#1f1f1f;
}
.watch .watch__title .lesson_number
{
  font-size:20px;
  font-weight:700;
}
.watch .watch__title .lesson_title
{
  font-size:36px;
  margin-top:10px;
  font-weight: 700;
  line-height:40px;
}
.watch .watch__title .lesson_teacher
{
  margin-top:18px;
  font-size:20px;
  margin-bottom:80px;
}
.watch .watch__title .lesson_teacher .teacher_name
{
  font: normal normal bold 20px/36px Spoqa Han Sans Neo;
}
.watch .watch__title .lesson_teacher .teacher_position
{
  font: normal normal normal 20px/36px Spoqa Han Sans Neo;
}

.watch .watch__playlist .play_tabs
{
  display:flex;
  justify-content: flex-start;
}
.watch .watch__playlist .play_tabs .tab
{
  text-align:center;
  font-size:24px;
  font-weight:400;
  color:#485DFF;
  border:2px solid #485DFF;
  padding:12px 22px;
  box-sizing:border-box;
  margin-right:15px;
  border-radius:12px;
  cursor: pointer;
}
.watch .watch__playlist .play_tabs .tab:last-child
{
  margin-right:0;
}
.watch .watch__playlist .play_tabs .tab.active
{
  background-color:#485DFF;
  color:#fff;
  font-weight:700;
}
.watch .watch__playlist .play_lists
{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  margin-top:56px;
}
.watch .watch__playlist .play_lists.conf
{
  display:none;
}
.watch .watch__playlist .play_lists.countdown
{
  display:none;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin-bottom:70px;
}
.watch .watch__playlist .play_lists.countdown .coming_soon
{
  width:100%;
  font-size:60px;
  font-weight:600;
  margin-top:64px;
  margin-bottom:80px;
}
.watch .watch__playlist .play_lists.countdown .open_time
{
  width:100%;
  font-size:20px;
  font-weight:600;
  margin-bottom:20px;
}
.watch .watch__playlist .play_lists.countdown .time
{
  font-size:60px;
  font-weight:600;
}
.watch .watch__playlist .play_list
{
  display:flex;
  width:50%;
  margin-bottom:30px;
  cursor: pointer;
}
.watch .watch__playlist .play_list.active 
{
  color:#485DFF;
}
.watch .watch__playlist .play_list.active .list_thumbnail
{
  border:3px solid #485DFF;
  border-radius:15px;
}
.watch .watch__playlist .play_list .list_thumbnail
{
  width:200px;
  height:150px;
  margin-right:30px;
  background:url("/play_img.svg") center/contain no-repeat;
  position:relative;
  box-sizing:border-box;
}
.watch .watch__playlist .play_list .list_thumbnail .play_img
{
  width:34px;
  height:34px;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.watch .watch__playlist .play_list .list_thumbnail img
{
  border-radius:12px;
}
.watch .watch__playlist .play_list .list_detail
{
  font-weight:600;
  margin:auto 0;
}
.watch .watch__playlist .play_list .list_detail .lesson_number
{
  font-size:16px;
  margin-bottom:18px;
}
.watch .watch__playlist .play_list .list_detail .lesson_title
{
  font-size:20px;
  margin-bottom:14px;
  line-height: 26px;
  height:52px;
}
.watch .watch__playlist .play_list .list_detail .lesson_teacher
{
  font-size:14px;
}
.watch .watch__playlist .play_list .list_detail .lesson_teacher .teacher_position
{
  font-weight:400;
}

.watch .watch__contents
{
  margin-top:50px;
  margin-bottom:30px;
}
.watch .watch__contents .contents_title
{
  font-size:24px;
  font-weight:600;
}
.watch .watch__contents .contents_files
{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  margin-top:30px;
  margin-bottom:172px;
}
.watch .watch__contents .contents_files .file
{
  width:510px;
  /* height:80px; */
  margin-right:40px;
  border-radius:10px;
  padding:28px;
  box-sizing: border-box;
  font-size:20px;
  font-weight:600;
  margin-bottom:32px;
  background:url('img/download_file.svg') 95% center no-repeat;
  background-color:#EFEFEF;
  cursor:pointer;
}
.watch .watch__contents .contents_files .file.no-margin
{
  margin-right:0;
}
.watch .watch__contents .contents_files .file:nth-child(2),
.watch .watch__contents .contents_files .file:nth-child(4)
{
  margin-right:0;
}
.watch .watch__contents .contents_files .file .pdf
{
  color:#485DFF;
  margin-right:20px;
}

/* LIVE */
.live
{
  min-width:100%;
  min-height:100%;
  background-color:#1F1F1F;
  color:#fff;
}
.live__player
{
  width:100%;
  height:1080px;
  display:flex;
  justify-content: center;
}
.live__player #player
{
  padding-bottom:0;
}
.live .inner
{
  margin:auto;
  margin-top:100px;
}
.live .inner .live__title
{
  font-weight:700;
  margin-bottom:62px;
}
.live .inner .live__title .session-number
{
  font-size:30px;
  margin-bottom:18px;
}
.live .inner .live__title .session-title
{
  font-size:46px;
  margin-bottom:28px;
  line-height:64px;
}
.live .inner .live__title .session-title.mo
{
  display:none;
}
.live .live__fileLists
{
  padding-bottom:152px;
}
.live .live__fileLists .fileLists__title
{
  font-size:24px;
  color:#485DFF;
  font-weight:700;
  margin-bottom:30px;
}
.live .live__fileLists .files
{
  display:flex;
  flex-wrap: wrap;
}
.live .live__fileLists .files .file
{
  display:flex;
  width:510px;
  padding:26px 34px 26px 26px;
  box-sizing: border-box;
  font-size:20px;
  font-weight:700;
  background:url("img/download_file_white.svg") 93.3% no-repeat;
  background-color:#3C3C3C;
  margin-right:40px;
  margin-bottom:32px;
  cursor:pointer;
  border-radius:10px;
}
.live .live__fileLists .files .file .pdf
{
  color:#485DFF;
  margin-right:20px;
}
/* .live .inner .live__title .session-teacher
{
  font-size:24px;
}
.live .inner .session-teacher .teacher_name
{
  margin-right:10px;
}
.live .inner .session-teacher .teacher_position
{
  font-weight:400;
}
.live__tab
{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  font-size:24px;
  color:#fff;
  margin-bottom:54px;
}
.live__tab .tab
{
  width:290px;
  height:54px;
  font-weight:400;
  border-radius:12px;
  border:1px solid #485DFF;
  background-color: #485DFF;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right:42px;
}
.live__tab .caution
{
  
}
.live__playlist
{
  width:100%;
  display:flex;
  flex-wrap:wrap;
}
.live__playlist .playlist
{
  display:flex;
  width:50%;
  cursor:pointer;
  margin-bottom:40px;
}
.live__playlist .playlist .thumbnail
{
  width:200px;
  height:150px;
  margin-right:30px;
  position:relative;
}
.live__playlist .playlist .thumbnail .play_img
{
  width:34px;
  height:34px;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.live__playlist .playlist .thumbnail img
{
  border-radius: 12px;
}
.live__playlist .playlist.active .thumbnail img
{
  border:3px solid #485DFF;
}
.live__playlist .playlist .detail
{
  margin:auto 0;
}
.live__playlist .playlist.active .detail
{
  color:#485DFF;
}

.live__playlist .playlist .detail .session-number
{
  font-size:16px;
}
.live__playlist .playlist .detail .session-title
{
  font-size:20px;
  line-height:26px;
}
.live__playlist .playlist .detail .session-teacher
{
  font-size:14px;
}
.live__playlist .playlist .detail .session-teacher > .teacher_position
{
  font-weight: 400;
} */


/* MOBILE */
@media (max-width:1060px) and (min-width:769px)
{

  /* COMMON */
  .inner
  {
    width:100%;
  }

  /* LOGIN */
  .login .inner
  {
    padding:0 60px;
  }
  .login .inner .login__img
  {
/* 
    padding:0 8.3%;
    padding-top:127px; */
    box-sizing: inherit;
  }
  .login .code-group .code-textbox .textbox
  {
    padding:15px;
  }

  /* WATCH */
  .watch
  {
    margin-top:0;
  }
  .watch .watch__player #player iframe
  {
    border-radius:0;
  }
  .watch .watch__title,
  .watch .watch__playlist,
  .watch .watch__contents
  {
    padding-left:30px;
  }
  .watch .watch__contents .contents_files .file
  {
    width:48%;
    margin-right:2%;
  }
  .watch .watch__playlist .play_list .list_thumbnail
  {
    width: 160px;
    height:120px;
  }
  .watch .watch__playlist .play_list .list_detail .lesson_number
  {
    font-size:12px;
    margin-bottom:12px;
  }
  .watch .watch__playlist .play_list .list_detail .lesson_title
  {
    font-size:16px;
    line-height:20px;
    height:auto;
  }
  .watch .watch__playlist .play_list .list_detail .lesson_teacher
  {
    line-height:20px;
  }
  .watch .watch__playlist .play_list .list_detail .lesson_teacher .teacher_name
  {
    display:block;
  }

  /* LIVE */
  .live .inner
  {
    padding:0 4%;
    box-sizing: border-box;
  }
  .live__player
  {
    /* height:442px; */
  }
  .watch .watch__player #player iframe
  {
    border-radius:0;
  }
  .live .live__fileLists .files .file
  {
    width:48%;
    margin-right:2%;
  }
  .live .live__fileLists .files .file:nth-child(2),
  .live .live__fileLists .files .file:nth-child(4)
  {
    margin-right:0;
  }
}
@media (max-width:768px){

  /* COMMON */
  .inner
  {
    width:100%;
  }
  /* LOGIN */
  .login
  {
    min-width:100%;
  }
  .login .inner{
    width:100%;
    height:fit-content;
    padding:0 60px;
    /* padding-top:38%; */
  }
  .login .inner .login__img
  {
    /* padding-top:127px; */
    margin-top:0;
    padding-top:0;
  }
  .login .inner img
  {
    box-sizing: border-box;
  }
  .login .code-group
  {
    width:100%;
    margin-top:50px;
  }
  .login .code-group .code-textbox
  {
    width:100%;
    box-sizing: border-box;
    height:92px;
    margin-bottom:30px;
    font-size:30px;
  }
  .login .code-group .code-textbox .textbox
  {
    width:100%;
    padding:2.5vw;
    border:1px solid #1f1f1f;
    font-size:4vw;
  }
  .login .code-group .code-confirm
  {
    width:100%;
    box-sizing: border-box;
  }
  .login .code-group .code-confirm .btn
  {
    height:auto;
    padding:2vw 6vw;
    font-size:4vw;
  }
  .error .inner
  {
    padding:0 4%;
    height:100%;
    box-sizing: border-box;
  }
  .error__message
  {
    height:50.67vw;
    /* margin-top:606px; */
    padding:8.267vw 2.67vw 6.13vw;
  }
  .error__message .error__title
  {
    font-size:6.2vw;
    height:8.53vw;
    margin-bottom:3.33vw;
  }
  .error__message .error__info
  {
    height:9.8vw;
    margin-bottom:6.4vw;
    font-size:3.2vw;
    line-height:5.33vw;
  }
  .error__message .error__close
  {
    height:9.6vw;
    width:66.67vw;
    margin:auto;
    border-radius:5px;
  }

  /* HEADER */
  header
  {
    height:14.67vw;
  }
  .header-container
  {
    padding:0 6.13vw;
  }
  .header__left
  {
    width:28.8vw;
    height:4.53vw;
  }
  .header__left .header__logo .logo
  {
    width:28.8vw;
    height:4.53vw;
  }

  /* WATCH */
  .watch
  {
    width:100%;
    margin-top:0;
  }
  .watch__live
  {
    height:26.67vw;
    margin: 2.67vw 0;
  }
  .watch__live .live-link
  {
    background: url("/live_link_mo.png") center/contain no-repeat;
    height:100%;
  }
  .watch .watch__player
  {
    width:100%;
    display:block;
  }
  .watch .watch__player #player iframe
  {
    border-radius:0;
  }

  .watch .watch__title
  {
    padding:0 6.1%;
    margin-top:6.93vw;
  }
  .watch .watch__title .lesson_number
  {
    font-size:4vw;
  }
  .watch .watch__title .lesson_title {
    font-size:5.6vw;
    margin-top:2.67vw;
    font-weight: 700;
    line-height:8.53vw;
  }
  .watch .watch__title .lesson_teacher {
    margin-top:4vw;
    font-size:3.5vw;
    margin-bottom:10.67vw;
  }
  .watch__playlist
  {
    padding:0 4%;
  }
  .watch .watch__playlist .play_list
  {
    width:100%;
  }
  .watch .watch__playlist .play_tabs .tab
  {
    margin-right:2.67vw;
    font-size:3.2vw;
    padding:1.6vw 2.93vw;
    border-radius:1.6vw;
  }
  .watch .watch__playlist .play_lists
  {
    margin-top:7.47vw;
  }
  .watch .watch__playlist .play_list {
    margin-bottom:6.67vw;
  }

  .watch .watch__playlist .play_list .list_thumbnail
  {
    /* max-width:240px;
    max-height:180px;
    min-width:120px;
    min-height:90px; */
    width:auto;
    height:24.8vw;
  }
  .watch .watch__playlist .play_list .list_thumbnail .play_img
  {
    width:6.4vw;
    height:6.4vw;
  }
  .watch .watch__playlist .play_list .list_detail
  {
    /* margin:0; */
  }
  .watch .watch__playlist .play_list .list_detail .lesson_number
  {
    font-size:2.8vw;
    margin-bottom:1.33vw;
    height:3.2vw;
  }
  .watch .watch__playlist .play_list .list_detail .lesson_title
  {
    font-size:4.2vw;
    height:11.2vw;
    line-height: 5vw;
    margin-bottom:4vw;
    /* min-width:200px; */
  }
  .watch .watch__playlist .play_list .list_detail .lesson_teacher
  {
    font-size:2.8vw;
    line-height:23px;
  }
  .watch .watch__playlist .play_list .list_detail .lesson_teacher .teacher_name
  {
    /* display:block; */
  }
  .watch .watch__contents
  {
    padding:0 6.1%;
    margin-top:6.67vw;
    margin-bottom:4vw;
  }
  .watch .watch__contents .contents_files
  {
    margin-top:4vw;
    margin-bottom:22.93vw;
  }
  .watch .watch__contents .contents_files .contents_file
  {
    width:100%;
    height:103px;
    padding:35px 36px 34px;
    font-size:28px;
    background:url('img/download_file.svg') 93% center no-repeat;
    background-color:#efefef;
    background-size:33.55px;
  }
  .watch .watch__contents .contents_files .file
  {
    width:100%;
    /* height:70px; */
    height:auto;
    margin-right:0;
    font-size:3.8vw;
    padding:3.73vw;
    margin-bottom:4.27vw;
    background-size:4.47vw;
  }
  .watch .watch__playlist .play_lists.countdown .coming_soon
  {
    font-size:8vw;
  }
  .watch .watch__playlist .play_lists.countdown .open_time
  {
    font-size:3.2vw;
  }
  .watch .watch__playlist .play_lists.countdown .time
  {
    font-size:8vw;
  }

  /* LIVE */
  .live
  {
    min-width:280px;
  }
  .live__player
  {
    height:442px;
    /* height:442px; */
  }
  .live .inner
  {
    padding:0 4%;
    box-sizing: border-box;
    margin-top:6.93vw;
  }
  .live .inner .live__title
  {
    margin-bottom:10.67vw;
  }
  .live .inner .live__title .session-number
  {
    font-size:4vw;
  }
  .live .inner .live__title .session-title
  {
    line-height:8.53vw;
    font-size:6.4vw;
  }
  .live .inner .live__title .session-title.mo
  {
    display:block;
    margin-bottom:3.73vw;
  }
  .live .inner .live__title .session-title.pc
  {
    display:none;
  }
  .live .live__fileLists .files .file
  {
    width:100%;
    margin-right:0;
    font-size:3.73vw;
    padding: 3.47vw 4.53vw 3.47vw 3.47vw;
    margin-bottom: 4.27vw;
    background-size:4.47vw;
  }
  .live .live__fileLists .fileLists__title
  {
    font-size:4.8vw;
  }
  .live .live__fileLists
  {
    padding-bottom:20.27vw;
  }
}