@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

/* COMMON */
html{
  font-size:10px;
  font-family:'Spoqa Han Sans Neo';
}
body{

}
.inner{
  width:1100px;
  position:relative;
}
img
{
  width:100%;
  height:100%;
}
a
{
  text-decoration: none;
}

/* HEADER */
header
{
  width:100%;
  height:80px;
  background-color:#1F1F1F;
}
.header-container
{
  height:100%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding:0 30px;
  max-width:1100px;
  margin:0 auto;
}
.header__left
{
  width:30%;
}

.header__left .header__logo
{
  
}
.header__left .header__logo .logo
{
  width:188px;
  height:28px;
  background:url("img/logo.png") center/contain no-repeat;
  
}

/* LOGIN */
.login{
  position:relative;
  width:100%;
  height:100vh;
}
.login video
{
  width:100%;
  height:100%;
  object-fit: fill;
  position:fixed;
  top:0;
}
.login .inner{
  width:100%;
  height:100%;
  max-width:922px;
  margin:auto;
  box-sizing: border-box;
}
.login .inner .login__img
{
  margin-top:127px;
}
.login .inner img
{
  max-height:407px;
}
.login .code-group{
  margin:auto;
  margin-top:129px;
  margin-bottom:180px;
}
.login .code-group .code-textbox
{
  width:510px;
  height:62px;
  left:0;
  right:0;
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom:66px;

}
.login .code-group .code-textbox .textbox{
  width:510px;
  padding:10px;
  border-radius:49px;
  text-align:center;
  font-size:25px;
  box-shadow: 0px 0px 15px #00000080;
  box-sizing:border-box;
}
.login .code-group .code-textbox .textbox:focus
{
  outline:none;
}
.login .code-group .code-confirm
{
  display:flex;
  justify-content: center;
  align-items: center;
}
.login .code-group .code-confirm .btn
{
  width:150px;
  background:rgba(0, 0, 0, 0);
  color:#fff;
  padding:10px;
  border:1px solid #fff;
  border-radius:40px;
  cursor:pointer;
}
.login .code-group .code-confirm .btn:hover
{
  background-color:#00F5FF;
  border:1px solid #00F5FF;
  color: #1f1f1f;
}

/* ERROR */
.error
{
  position:fixed;
  min-width:100%;
  min-height:100%;
  top:0;
  left:0;
  background-color:#00000080;
  z-index:9;
}
.error .inner
{
  width:100%;
  max-width:1920px;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.error__message
{
  width:31.25%;
  height:32.3%;
  padding:62px 50px 46px;
  background-color:#fff;
  box-shadow: 0px 0px 70px #00000034;
}

/* WATCH */
.watch
{
  width:1060px;
  position:relative;
  margin:0 auto;
  margin-top:40px;
}
.watch .watch__player
{
  display:flex;
  width:55%;
  max-width:1060px;
  max-height:596px;
}
.watch .watch__player #player iframe
{
  border-radius:15px;
}
.watch .watch__title
{
  margin-top:30px;
  color:#1f1f1f;
}
.watch .watch__title .lesson_number
{
  font: normal normal bold 20px/36px Spoqa Han Sans Neo;
  font-size:20px;
}
.watch .watch__title .lesson_title
{
  font: normal normal bold 36px/40px Spoqa Han Sans Neo;
  font-size:36px;
  margin-top:10px;
}
.watch .watch__title .lesson_teacher
{
  margin-top:18px;
  font-size:20px;
  margin-bottom:80px;
}
.watch .watch__title .lesson_teacher .teacher_name
{
  font: normal normal bold 20px/36px Spoqa Han Sans Neo;
}
.watch .watch__title .lesson_teacher .teacher_position
{
  font: normal normal normal 20px/36px Spoqa Han Sans Neo;
}

.watch .watch__playlist .play_tabs
{
  display:flex;
  justify-content: flex-start;
}
.watch .watch__playlist .play_tabs .tab
{
  text-align:center;
  font-size:24px;
  font-weight:400;
  color:#485DFF;
  border:1px solid #485DFF;
  padding:12px 22px;
  box-sizing:border-box;
  margin-right:37px;
  border-radius:12px;
  cursor: pointer;
}
.watch .watch__playlist .play_tabs .tab:last-child
{
  margin-right:0;
}
.watch .watch__playlist .play_tabs .tab.active
{
  background-color:#485DFF;
  color:#fff;
  font-weight:700;
}
.watch .watch__playlist .play_lists
{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  margin-top:56px;
}
.watch .watch__playlist .play_lists.conf
{
  display:none;
}
.watch .watch__playlist .play_lists.countdown
{
  display:none;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin-bottom:70px;
}
.watch .watch__playlist .play_lists.countdown .coming_soon
{
  width:100%;
  font-size:60px;
  font-weight:600;
  margin-top:64px;
  margin-bottom:80px;
}
.watch .watch__playlist .play_lists.countdown .open_time
{
  width:100%;
  font-size:20px;
  font-weight:600;
  margin-bottom:20px;
}
.watch .watch__playlist .play_lists.countdown .time
{
  font-size:60px;
  font-weight:600;
}
.watch .watch__playlist .play_list
{
  display:flex;
  width:50%;
  margin-bottom:30px;
  cursor: pointer;
}
.watch .watch__playlist .play_list.active
{
  color:#485DFF;
}
.watch .watch__playlist .play_list .list_thumbnail
{
  width:200px;
  height:150px;
  margin-right:30px;
}
.watch .watch__playlist .play_list .list_thumbnail img
{
  border-radius:12px;
}
.watch .watch__playlist .play_list .list_detail
{
  font-weight:600;
  margin:auto 0;
}
.watch .watch__playlist .play_list .list_detail .lesson_number
{
  font-size:16px;
  margin-bottom:18px;
}
.watch .watch__playlist .play_list .list_detail .lesson_title
{
  font-size:20px;
  margin-bottom:14px;
  line-height: 26px;
}
.watch .watch__playlist .play_list .list_detail .lesson_teacher
{
  font-size:14px;
}
.watch .watch__playlist .play_list .list_detail .lesson_teacher .teacher_position
{
  font-weight:400;
}

.watch .watch__contents
{
  margin-top:50px;
  margin-bottom:30px;
}
.watch .watch__contents .contents_title
{
  font-size:24px;
  font-weight:600;
}
.watch .watch__contents .contents_files
{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  margin-top:30px;
  margin-bottom:172px;
}
.watch .watch__contents .contents_files .contents_file
{
  width:48%;
  height:80px;
  margin-right:2%;
  border-radius:10px;
  padding:28px;
  box-sizing: border-box;
  font-size:20px;
  font-weight:600;
  margin-bottom:32px;
  background:url('img/download_file.svg') 95% center no-repeat;
  background-color:#EFEFEF;
}
.watch .watch__contents .contents_files .contents_file .pdf
{
  color:#485DFF;
  margin-right:20px;
}
