/* COMMON */
html{
  font-size:10px;
}
body{

}
.inner{
  width:1100px;
  position:relative;
}
img
{
  width:100%;
  height:100%;
}
a
{
  text-decoration: none;
}

/* HEADER */
header
{
  width:100%;
  height:100px;
}
.header-container
{
  display:flex;
  justify-content: flex-start;
  padding:0 30px;
  max-width:1100px;
  margin:0 auto;
}
.header__left
{
  width:30%;
}

.header__left .header__logo
{
  
}
.header__left .header__logo .logo
{
  width:100px;
  height:100px;
  background:url("img/logo.png") center/contain no-repeat;
  
}

/* LOGIN */
.login{
  position:relative;
  width:100%;
  height:100vh;
  overflow: hidden;
}
.login video
{
  width:100%;
  height:100%;
  object-fit: fill;
}
.login .inner{
  width:100%;
  margin:auto;
  position:absolute;
  top:0;
}
.login .logo{
  width:500px;
  height:300px;
  position:absolute;
  left:0;
  right:0;
  top:0;
  margin:auto;
  margin-top:50px;
}
.login .logo img
{
  border-radius:20px;
}
.login .code-group{
  position:absolute;
  /* bottom:0;
  height:100px; */
  height:20%;
  left:0;
  right:0;
  margin:auto;
  top:60vh;
}
.login .code-group .code-textbox
{
  width:570px;
  height:100px;
  left:0;
  right:0;
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
}
.login .code-group .code-textbox .textbox{
  width:570px;
  padding:10px;
  border-radius:40px;
  text-align:center;
  font-size:18px;
  box-sizing:border-box;
}
.login .code-group .code-textbox .textbox:focus
{
  outline:none;
}
.login .code-group .code-confirm
{
  display:flex;
  justify-content: center;
  align-items: center;
}
.login .code-group .code-confirm .btn
{
  width:150px;
  background:rgba(0, 0, 0, 0);
  color:#fff;
  padding:10px;
  border:1px solid #fff;
  border-radius:40px;
  cursor:pointer;
}

/* WATCH */
.watch
{
  width:1100px;
  position:relative;
  margin:0 auto;
  margin-top:40px;
}
.watch .watch__player
{
  display:flex;
}
.watch .watch__player .play__lists
{
  width:400px;
  border:1px solid #000f9f;
  margin-left:50px;
}
.watch .watch__player .play__lists .playlist
{
  width:350px;
  border:1px solid #000f9f;
  border-radius:5px;
  height:44px;
  margin:0 auto;
  margin-top:20px;
  padding:5px;
  box-sizing:border-box;
  font-size:30px;
  color:#000f9f;
  font-weight:600;
  text-align:center;
  cursor:pointer;
}
.watch .watch__file
{
  margin-top:50px;
}
.watch .watch__file .file__title
{
  font-size:30px;
}
.watch .watch__file .file__lists
{
  margin-top:30px;
}
.watch .watch__file .file__lists .file
{
  width:600px;
  height:50px;
  border:1px solid #000f9f;
  border-radius:5px;
  margin-bottom:10px;
  padding:10px;
  box-sizing:border-box;
  font-size:25px;
}
.watch .watch__file .file__lists .file .file__icon
{
  display:inline;
  float:right;
}