{% extends 'admin/default.html' %}
{% block header %}
<header>
    <div class="inner">
        <div class="header__logo">
            <a href="/admin">
                <div class="logo"></div>
            </a>
        </div>
        <div class="header__menu">
            <ul class="menus">
                <li class="menu">
                    <a href="/admin/main">
                        <div class="menu__name">코드관리</div>
                    </a>
                    <!-- <div class="menu__contents">
                        <ul>
                            
                                <li>
                                    코드관리
                                </li>
                           
                            
                                <li>
                                    코드등록
                                </li>
                            
                        </ul>
                    </div> -->
                </li>
                <li class="menu">
                    <a href="/admin/code/reg">
                        <div class="menu__name">코드등록</div>
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
</header>
{% endblock %}